.landing {
  height: 100vh;
  background-image: url("../../assets/png/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 576px) {
  .landing {
    background-image: url("../../assets//png//bg-sm.jpg");
  }
}

.landing-body {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.landing-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-logo {
  width: 525px;
}
@media only screen and (max-width: 576px) {
  .landing-logo {
    max-width: 100%;
    padding: 0 1rem;
  }
}

.landing-logo img {
  height: 100%;
  width: 100%;
}
.landing-title {
  font-size: 6rem;
  font-family: var(--primary-font);
  font-weight: 900;
  line-height: 1.1;
  color: var(--primary-color);
}
@media only screen and (max-width: 576px) {
  .landing-title {
    font-size: 4.2rem;
  }
}

.landing-desc {
  font-size: 1.5rem;
  font-family: var(--primary-font);
  color: #fff;
  font-weight: 400;
}
@media only screen and (max-width: 576px) {
  .landing-desc {
    font-size: 1rem;
    font-weight: 300;
  }
}

.landing-button {
  font-family: var(--primary-font);
  width: 11rem;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  background-color: #0c004b33;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  border: 2px solid #fff;
}

.landing-button:hover {
  transform: scale(1.05);
}
