.organizations {
    height: 100vh;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--primary-font);
}

.org_title {
    font-size: 2.5rem;
    color: #000;
    font-weight: 600;
    padding-bottom: 2.5rem;
}

.org_event1 {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    margin-bottom: 2rem;
}

.orgevent1_desc {
    flex: 0.5;
}

.orgdesc_name {
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 1rem;
}


.orgevent_img {
    flex: 0.5;
}
.orgevent_img > img {
    width: 400px;
}