.aboutCard {
  --color: #1b77bc;
  width: 220px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #efefef;
  cursor: pointer;
  transition: all 0.3s ease;
}
.aboutCard:hover {
  background: var(--color);
  color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.aboutcard_icon {
  font-size: 4rem;
  color: var(--color);
  transition: all 0.3s ease;
}
.aboutcard_title {
  font-size: 1.25rem;
}
.aboutcard_desc {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.8;
}
.aboutCard:hover .aboutcard_icon {
  color: #fff;
}
