.aboutCard {

    --color: #1b77bc;
    width: 300px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #efefef;
    cursor: pointer;
    transition: all 0.3s ease;

}
.aboutCard:hover {
    background: var(--color);
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.aboutcard_icon {
    font-size: 5rem;
    color: var(--color);
    transition: all 0.3s ease;
}
.aboutcard_title {
    font-size: 1.5rem;
}
.aboutcard_desc {
    font-weight: 0.8rem;
    font-weight: 400;
    opacity: 0.8;  
}
.aboutcard_more {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color);
    transition: all 0.3s ease;
}
.aboutCard:hover .aboutcard_more,.aboutCard:hover .aboutcard_icon {
    color: #fff;
}